<div class="m-3">
    <h3>Cập nhật bài viết</h3>
    <form method="POST" action="/posts/{{post._id}}?_method=PUT">
       <div class="form-group">
            <label for="title">Tiêu đề bài viết</label>
            <input type="text" class="form-control" id="title"
            name="title">
        </div>
        <div class="form-group">
            <label for="author">Tác giả</label>
            <input type="text" class="form-control" id="author"
            name="author">
        </div>
        <div class="form-group">
            <label for="content">Nội dung</label>
            <textarea type="text" class="form-control" id="content"
            name="content"
            style="height: 200px"></textarea>
        </div>
        <div class="form-group w-25">
            <label for="author">Thể loại</label>
            <select class="form-control" id="category"
            name="category">
                <option value="Thế giới">Thế giới</option>
                <option value="Bóng đá">Bóng đá</option>
                <option value="Sức khỏe">Sức khỏe</option>
                <option value="Kinh tế">Kinh tế</option>
            </select>
        </div>
        <div class="form-group">
            <label for="credit">Nguồn</label>
            <input type="text" class="form-control" id="credit"
            name="credit">
        </div>
        <button type="submit" class="btn btn-primary">Lưu lại</button>
</form>
</div>